/* --- Resetting some default values --- */
* {
    font-family: system-ui;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}



/* --- Header styling --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
header h1 a {
    font-family: WindSong;
    font-size: 3rem;
}
header nav ul {
    display: flex;
    width: 25rem;
    justify-content: space-between;
}
header nav ul li {
    list-style-type: none;
}
header nav ul li a {
    color: #2f3e46;
}

/* --- Main content styling --- */
main {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem;
}

/** Product cards */
.products {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
}
.product-card {
    width: 15rem;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 8px rgba(122, 122, 122, 0.8);
    box-shadow: 0px 0px 20px 8px rgba(122, 122, 122, 0.8);
}
.product-card img {
    height: 75%;
    object-fit: cover;
}
.product-card p {
    text-align: center;
    margin: 1rem 0;
}
.product-card p.product-name {
    font-weight: 600;
    font-size: 1.2rem;
}
.product-card .price {
    margin-top: -0.5rem;
    margin-bottom: 0;
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 2px;
}
.product-card .add-to-cart {
    margin-bottom: 0;
    justify-self: flex-end;
    padding: 0.8rem;
    background-color: #40916c;
    color: #f6f4f3;
    font-size: 1rem;
    position: relative;
}
.product-card .add-to-cart:hover {
    cursor: pointer;
}
.product-card .add-to-cart:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 7px;
    left: 30%;
    background-color: #f6f4f3;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.product-card .add-to-cart:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

/* Sign up / login forms  */k


#login {
    margin: 0 auto;
    display: grid;
    place-items: center;
}
#login h2 {
    text-align: center;
}
form {
    width: 15rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form p {
    position: relative;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
}
form input, form button {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.75rem;
    width: 100%;
}
form input:focus {
    border: 1px solid grey;
}
form label {
    background-color: white;
    cursor: text;
    position: absolute;
    left: .75rem;
    top: 0.65rem;
    text-align: center;
    transition: all 100ms ease-in;
    opacity: 0.7;
    letter-spacing: 1px;
}
form input::placeholder {
    color: transparent;
}
form input:focus ~ label,
form input:not(:placeholder-shown) ~ label {
    top: -0.5rem;
    left: 0.5rem;
    padding: 0 0.5rem;
    background-color: white;
    font-size: 0.75rem;
    opacity: 1;
}

form input[type=submit] {
    background-color: #40916c;
    color: #f6f4f3;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
form input[type=submit]:hover, form input[type=submit]:focus {
    text-decoration: underline;
}
#forgot-password {
    margin-top: 0.3rem;
    margin-right: -6rem;
    font-size: 70%;
    font-weight: 500;
    display: block;
    text-align: right;
    cursor: pointer;
}
