#receipt {
    width: 15rem;
    border: 2px solid rgba(18, 18, 18, 0.3);
    padding: 1rem;
}
#receipt h2 {
    font-size: 2rem;
    color: #40916c;
    margin-bottom: 1rem;
    text-align: center;
}
#receipt p {
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

#receipt p:not(:nth-last-child(2), :nth-last-child(1)) {
    border-bottom: 2px solid rgba(18, 18, 18, 0.1);
}

#receipt p:not(.total-sum) .price {
    font-weight: 200;
}

.total-wrapper {
    margin: -1rem;
    margin-top: 1.5rem;
    height: 4rem;
    width: calc(100% + 2rem);
    display: grid;
    place-items: center;
}
#receipt p.total-sum {
    font-weight: 600;
}